/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}
/*  TABLET AND MOBILE */
@media (max-width: 1023px) {
    .header__setting-link::after,
    .hide-on-mb-tl {
        display: none;
    }
    .header__setting-link {
        right: -353px;
    }
    .overlay-mb-tl {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .checkbox:checked ~ .overlay-mb-tl {
        display: block;
    }
}
/* MOBILE */
@media (max-width: 739px) {
    body {
        overflow: hidden;
    }
    .content-heading {
        line-height: 29px;
    }
    .content-title {
        font-size: 32px;
        line-height: 48px;
    }
    .header__setting-link {
        right: 32px;
    }
    .header__heading {
        font-size: 14px;
        width: 200px;
    }
    .header__desc {
        font-size: 10px;
    }
    .header__right-item-link {
        left: -19px;
        margin-right: 0;
    }
    .header__right-item-link svg {
        margin: 0;
    }
    .header-history {
        left: -119px;
    }
    .header-history::before {
        border-width: 8px 8px;
        top: -15px;
        left: 122px;
    }
    .home-desc {
        font-size: 16px;
    }
    .home-heading {
        font-size: 20px;
    }
    .header__right-list {
        display: inherit;
    }
    .header__right-item {
        width: 14px;
    }
}
@media (max-width: 360px) {
    .header__right-item {
        width: 0;
        right: 11px;
        position: relative;
    }
    .header__setting-link {
        margin-left: 0;
    }
}
@media (max-width: 280px) {
    .header__heading {
        width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .header__setting-link {
        margin-left: 27px;
    }
}